/* Created by: ZoiaB
* Created on: Mar 2023
* This CSS file defines the style for index.html
* Unit3-02-HTML-VolumeTriangularPyramid
*/

body {
  background-color: #e2cff2;
}

h1 {
  background-color: #005e70;
  color: hsl(333deg 93% 56%);
  padding: 40px;
  text-align: center;
}

h3 {
  color: #005e70;
}

img {
  padding-bottom: 10px
}